body {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
}

.heading-secondary {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
}

.heading-secondary-grey {
    color: $color-grey-5;
    font-size: 6rem;
}

.heading-secondary-shadow__white {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    font-size: 6rem;
}

.heading-secondary-primary {
    color: $color-primary;
    font-size: 6rem;
}

.paragraph {
    font-size: 1.6rem;
}