body{
    font-family: 'Varela Round', sans-serif ;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
}

.heading-secondary{
    text-align: center;
    font-size: 4rem;
    font-weight: 700; 
}