.rtl{
    direction:rtl;
}

.u-maring-bottom-medium{
    margin-bottom: 4rem !important;
    @include respond(tab-port){
        margin-bottom: 3rem !important;
    }
}
.u-maring-bottom-big{
    margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }
}

.u-padding-bottom-medium{
    padding-bottom: 4rem !important;
    @include respond(tab-port){
        padding-bottom: 3rem !important;
    }
}
.u-padding-bottom-big{
    padding-bottom: 8rem !important;

    @include respond(tab-port){
        padding-bottom: 5rem !important;
    }
}