$color-dark-1: #20232a;
$color-dark-2: #3a3d44;

$color-primary:#61dafb;
$color-primary-dark:#57c1df;
$color-primary-light:#96e6fc;


$color-grey-1:rgb(155, 155, 155);
$color-grey-2:rgb(184, 184, 184);
$color-grey-3:#f7f7f7;
$color-grey-4:#e6e6e6;
$color-grey-5:#6f7c83;


$padding-right-primary:3rem;
$padding-primary:5rem;
$margin-primary:5rem;


//#88969c


