$color-dark-1: #20232a;

$color-primary:#61dafb;
$color-primary-dark:#57c1df;


$color-grey-1:rgb(155, 155, 155);
$color-grey-2:rgb(184, 184, 184);
$color-grey-3:#f7f7f7;
$color-grey-4:#e6e6e6;


$padding-right-primary:3rem;
$padding-primary:5rem;
$margin-primary:5rem;


