.form {
    width: 60%;
    border-right: .25rem solid $color-primary;
    border-left: .25rem solid $color-primary;
    display: flex;
    flex-direction: column;
    padding: 1rem $padding-primary;
    text-align: right;
    
    @include respond(tab-land) {
        width: 55%;
    }
    @include respond(tab-port){
        width:50;
    }
    @include respond(phone) {
        width: 100%;
        border: none;
    }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &>*:last-child {
        text-align: center;
    }
    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        color: inherit;
        border-radius: 2px;
        border: none;
        background-color: rgba($color-grey-2, .3);
        border-bottom: 3px solid transparent;
        width: 100%;
        transition: all .5s;
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba( #000000, .1);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-grey-1;
        }
        &::-webkit-input-placeholder {
            color: $color-dark-2;
            font-size: 1.2rem;
            font-weight: 700;

            @include respond(phone) {
                font-size: 1.7rem;
            }
        }

    }
    &__textarea {
        width: 100%;
        height: 15rem;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 2px;
        border: 1px solid rgba($color-grey-2, .9);
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba( #000000, .1);
            border: 2px solid $color-primary;
        }
        &::-webkit-input-placeholder {
            color: $color-dark-1;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown~&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

.map {
    width: 30%;
    padding: 1rem $padding-primary;
    @include respond(tab-land) {
        width: 28%;
    }
    @include respond(tab-port) {
        width: 100%;
        margin-top: 2rem;
    }
    &>iframe {
        width: 100%;
        height: 100%;
    }
}

.details {
    width: 40%;
    padding: 1rem $padding-primary;

    @include respond(tab-land) {
        width: 45%;
    }

    @include respond(tab-port){
        width: 50%;
    }

    @include respond(phone) {
        width: 100%;
    }
    &__list {
        list-style-type: none;
        font-size: 1.8rem;
    }
    &__item {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 2rem;
        &-icon {
            height: 3rem;
            align-self: center;
        }
        &-info {
            align-self: center;
            margin-right: 2rem;
        }
    }
}