.section-contact-us {
    height: auto;
    text-align: right;
    margin-bottom: $margin-primary;
    &__content {
        display: flex;
        flex-direction: row-reverse;
        @include respond(tab-port) {
            flex-direction: column;
        }
    }
}

.details-form-box {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    @include respond(tab-port) {
        width: 100%;
    }
    @include respond(phone) {
        flex-direction: column;
    }
}

.details {
    width: 40%;
    padding: 1rem $padding-primary;
    @include respond(tab-land) {
        width: 45%;
    }
    @include respond(phone) {
        width: 100%;
    }
    &__list {
        list-style-type: none;
        font-size: 1.8rem;
    }
    &__item {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 2rem;
        &-icon {
            height: 3rem;
            align-self: center;
        }
        &-info {
            align-self: center;
            margin-right: 2rem;
        }
    }
}