.header{
    justify-content:center;
    align-items:center;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    animation: changeImages 10s ease-in-out 0s infinite alternate ; 

    @include respond(phone){
        height: 45vh;
    }

    & > *{
        font-size: 5rem;
        letter-spacing: 0.4rem;
        font-family: inherit;
        transition: all .2s;
        backface-visibility: hidden;
        font-weight: 700;

        @include respond(tab-port){
            font-size: 3rem;
        }

        @include respond(phone){
            padding: 0 3rem;
            font-size: 2.7rem;
            text-shadow: .8px 0 0 #fff, -.8px 0 0 #fff, 0 .8px 0 #fff, 0 -.8px 0 #fff, .8px .8px #fff, -.8px -.8px 0 #fff, .8px -.8px 0 #fff, -.8px .8px 0 #fff;
        }
        
        // color: white;
        // text-shadow: 2px 0 0 #20232a, -2px 0 0 #20232a, 0 2px 0 #20232a, 0 -2px 0 #20232a, 1px 1px #20232a, -1px -1px 0 #20232a, 1px -1px 0 #20232a, -1px 1px 0 #20232a;
       
        color: #20232a;
        // text-shadow: 2px 0 0 #61dafb, -2px 0 0 #61dafb, 0 2px 0 #61dafb, 0 -2px 0 #61dafb, 1px 1px #61dafb, -1px -1px 0 #61dafb, 1px -1px 0 #61dafb, -1px 1px 0 #61dafb;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        cursor: default;
    }

    &__primary{
        animation: moveInLeft 1s ease-out;
    }

    &__sub{
        animation: moveInRight 1s ease-out;
    }
}